@import "tailwindcss";

@theme {
  --color-background: #FDFBF7;
  --color-foreground: #1C1917;
  
  --color-cream-50: #FDFBF7;
  --color-cream-100: #F5F2ED;
  --color-cream-200: #E7E2D8;
  
  --color-artisanal-brown: #8C6D58;
  --color-artisanal-dark: #4A3728;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

:root {
  --background: #FDFBF7;
  --foreground: #1C1917;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, .font-serif {
  font-family: var(--font-serif);
}

@layer base {
  a, button, [role="button"], input[type="submit"], input[type="file"], select, .cursor-pointer {
    cursor: url('/mitt-cursor.svg') 12 4, pointer !important;
  }
}
